# --- RStudio & R Specific ---
.Rhistory        # Histórico de comandos do console
.RData           # Dados da área de trabalho (pesados e voláteis)
.Rproj.user/     # Configurações personalizadas do usuário no RStudio
.Rapp.history
*.RData
*.Ruserdata
.positai

# --- OS Specific (Windows/Linux via WSL) ---
Thumbs.db        # Cache de miniaturas do Windows
.DS_Store        # Arquivo de sistema do macOS
desktop.ini

# --- Project Specific ---
doc/

# --- Logs and temporary files ---
*.log
*.tmp